BasedOnStyle: LLVM
PointerAlignment: Right
IndentWidth: 2
TabWidth: 4
UseTab: Never
ColumnLimit: 120
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
NamespaceIndentation: All
IncludeBlocks: Regroup
BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: 'true'